[submodule ".tmux/tmux-colors-solarized"]
    path = .tmux/tmux-colors-solarized
    url = git://github.com/seebi/tmux-colors-solarized.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
