" Enable snipMate compatibility feature.
let g:neosnippet#enable_snipmate_compatibility = 1

" sonictemplate
let g:sonictemplate_vim_template_dir = [
\ '$HOME/.vim/bundle/sonictemplate-vim/template',
\ '$HOME/.vim/bundle/sonictemplate-template.vim/template'
\]
